In [66]:
import pandas as pd
import numpy as np
#from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer


ds = pd.read_excel(r"C:\Users\jaya\Desktop\mrs_dataset.xlsx")
ds.head()

,MOVIE_ID,LANGUAGE,GENRE,MOVIE_NAME,ACTOR,ACTRESS,DIRECTOR,PRODUCER,RELEASE_YEAR
0,1001,Hindi,Drama,Mughal-E-Azam,Dilip Kumar,Madhubala,K. Asif,Shapoorji,1960.0
1,1002,Hindi,Action,Kohinoor,Dilip Kumar,Meena Kumari,S.U. Sunny,Dr. V. N. Sinha,1960.0
2,1003,Hindi,Romance,Barsaat ki Raat,Bharat Bhushan,Madhubala,P.L. Santoshi,R. Chandra,1960.0
3,1004,Hindi,Drama,Mera Naam Joker,Raj Kapoor,Padmini,Raj Kapoor,Raj Kapoor,1970.0
4,1005,Hindi,Action,Sholay,Amitabh Bachchan,Jaya Bachchan,Ramesh Sippy,G.P. Sippy,1975.0

In [67]:
ds = ds[['LANGUAGE','GENRE','MOVIE_NAME','ACTOR' ]]
ds.head()

  LANGUAGE    GENRE       MOVIE_NAME             ACTOR
0   Hindi     Drama    Mughal-E-Azam       Dilip Kumar
1   Hindi    Action         Kohinoor       Dilip Kumar
2   Hindi   Romance  Barsaat ki Raat    Bharat Bhushan
3   Hindi     Drama  Mera Naam Joker        Raj Kapoor
4   Hindi    Action           Sholay  Amitabh Bachchan

In [68]:
#ds['key_words'] = ""

#for index,row in ds.iterrows():
     #plot = row['plot']
ds['bag_of_words'] = ''
columns = ds.columns
for index, row in ds.iterrows():
    words = ''
    for col in columns:
        if col != 'ACTOR':
            words = words + ' '.join(row[col])+ ' '
        else:
            words = words + row[col]+ ' '
    row['bag_of_words'] = words
    
ds.drop(columns = [col for col in ds.columns if col !='bag_of_words'], inplace = True)

TypeError: can only join an iterable

In [69]:
ds.head()

,LANGUAGE,GENRE,MOVIE_NAME,ACTOR,bag_of_words
0,Hindi,Drama,Mughal-E-Azam,Dilip Kumar,H i n d i D r a m a M u g h a l - E - A z a ...
1,Hindi,Action,Kohinoor,Dilip Kumar,H i n d i A c t i o n K o h i n o o r Dilip ...
2,Hindi,Romance,Barsaat ki Raat,Bharat Bhushan,H i n d i R o m a n c e B a r s a a t k i ...
3,Hindi,Drama,Mera Naam Joker,Raj Kapoor,H i n d i D r a m a M e r a N a a m J o ...
4,Hindi,Action,Sholay,Amitabh Bachchan,H i n d i A c t i o n S h o l a y Amitabh Ba...

In [35]:
#count = CountVectorizer()
#count_matrix = count.fit_transform(ds['word_bag'])
#indices = pd.Series(ds.index)
# indices[:5]
#count_matrix

ValueError: empty vocabulary; perhaps the documents only contain stop words

In [4]:
#from sklearn.feature_extraction.text import TfidfVectorizer
 #tfidf = TfidfVectorizer(stop_words='english')

  LANGUAGE    GENRE       MOVIE_NAME
0   Hindi     Drama    Mughal-E-Azam
1   Hindi    Action         Kohinoor
2   Hindi   Romance  Barsaat ki Raat

In [10]:
#s = "Romance Drama Action"
#tf_wrong = TfidfVectorizer(analyzer = 'word', ngram_range = (1,2))
#tf_wrong.fit([s])
#tf_wrong.get_feature_names()

['action', 'drama', 'drama action', 'romance', 'romance drama']

In [15]:
#[c for i in range(1,2) for c in combinations (s.split(), r=i)]

NameError: name 'combinations' is not defined

In [16]:
#tf = TfidfVectorizer(analyzer=lambda s: (c for in range(1,4)))
#for c in combinations(s.split('|'), r=i)))
#tfidf_matrix= tf.fit_transform(movies['GENRE'])
#tfidf_matrix.shape

SyntaxError: invalid syntax (<ipython-input-16-5e204bbd50d6>, line 1)

In [70]:
count = CountVectorizer()
count_matrix = count.fit_transform(ds['bag_of_words'])
indices = pd.Series(ds.MOVIE_NAME)
indices[:5]
#count_matrix

0      Mughal-E-Azam
1           Kohinoor
2    Barsaat ki Raat
3    Mera Naam Joker
4             Sholay
Name: MOVIE_NAME, dtype: object

In [71]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1., 1., 0., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [72]:
cosine_sim.shape

(180, 180)

In [73]:
def recommendations(MOVIE_NAME, cosine_sim = cosine_sim):
    recommended_movies = []
    idx = indices[indices == MOVIE_NAME].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_10_indexes = list(score_series.iloc[1:11].index)
    for i in top_10_indexes:
        recommended_movies.append(list(ds.MOVIE_NAME)[i])
    return recommended_movies

In [75]:
recommendations('Sholay')

['Sholay',
 'Amar Akbar Anthony',
 'Dostana',
 'Guru ',
 'Dhoom',
 nan,
 'Fashion',
 'Race',
 'Bhootnath',
 'Dostana']